.form-control-label {
    font-size: 1.15rem;
    font-weight: 500;
}

.card-header {
    font-size: 1.30rem;
    text-align: center;
}

.modal-header.red-header {
    background-color: darkred;
    color: white; /* para que el texto sea visible */
}

.modal-footer.red-footer {
    background-color: darkred;
    color: white; /* para que el texto sea visible */
    height: 50px;
}
